#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.searchText {
    font-size: 16px; /* Increase font-size */
    padding: 8px;
    width: 100%;
    margin: 5px;
    border: 1px solid #ddd; /* Add a grey border */
}


/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #2c343b;
    cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
.filterActive, .btn:hover {
    background-color: #666;
    color: white;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}