/*sahel-font-v1.0.0-alpha23-font-face*/
@font-face {
    font-family: Sahel;
    src: url('../fonts/fonts/Sahel.eot');
    src: url('../fonts/fonts/Sahel.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/Sahel.woff') format('woff'),
    url('../fonts/fonts/Sahel.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/fonts/Sahel-Bold.eot');
    src: url('../fonts/fonts/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/Sahel-Bold.woff') format('woff'),
    url('../fonts/fonts/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/fonts/Sahel-Black.eot');
    src: url('../fonts/fonts/Sahel-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/Sahel-Black.woff') format('woff'),
    url('../fonts/fonts/Sahel-Black.ttf') format('truetype');
    font-weight: 900;
}

body,
p,
div,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sahel, Arial, Tahoma, Sans;
}

.min-width-td {
    min-width: 550px;
}

.max-width-td{
    min-width: 200px;
    max-width: 200px;
}


.title-td{
    min-width: 200px;
    max-width: 300px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}